@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* GERAL */
body {
  background-color: black;
  font-family: 'Oswald', sans-serif;
  position: relative; }

.resumo_generico h2 i,
.my_skill h2 i {
  margin-right: 10px; }

.flex {
  display: flex;
  gap: 60px; }

.especialidades-titulo,
.titulo-generico h2,
.portifolio-titulo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center; }

.especialidades-titulo span,
.my_resume .titulo-generico h2 span,
.portifolio-titulo span {
  color: #1c3070; }

.navegacao-primaria__btn:hover,
.rodape-social a button:hover {
  box-shadow: 0px 0px 8px #fff;
  color: #fff;
  transform: scale(1.05); }

/* CABECALHO */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 35px; }
  header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 700; }
    header h1 span {
      color: #1c3070; }

nav .navegacao-primaria {
  display: flex;
  align-items: center;
  gap: 30px; }
  nav .navegacao-primaria .navegacao-primaria__item {
    color: #1c3070;
    font-size: 1.3rem;
    font-weight: 1000;
    list-style: none;
    text-decoration: none; }
  nav .navegacao-primaria .navegacao-primaria__item:hover {
    color: #fff; }
  nav .navegacao-primaria .navegacao-primaria__btn {
    background-color: #1c3070;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    transition: .5s; }

.navegacao-primaria__item::after {
  border-bottom: 4px solid #1c3070;
  content: '';
  display: block;
  height: 0px;
  transition: .9s;
  width: 0px; }

.navegacao-primaria__item:hover::after {
  width: 100%; }

main .seta-subir {
  color: #fff;
  font-size: 5rem;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin: 0 5rem 5rem 0;
  cursor: pointer;
  box-shadow: 0px 10px 18px #1c3070;
  border-radius: 50%; }

main .seta-subir.esconder {
  display: none; }

/* SEÇÃO DESCRIÇÃO INICIAL*/
.secao-curriculo {
  align-items: center;
  /*Chamando keyframes para fazer tela descer devagar com efeito*/
  animation: inicializar .7s forwards;
  background-color: black;
  box-shadow: 0 0 40px 10px #ffffff1d;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  padding: 60px; }
  .secao-curriculo div {
    display: grid;
    gap: 30px; }
    .secao-curriculo div p {
      color: #fff;
      font-weight: 700; }
    .secao-curriculo div a {
      border-radius: 5px;
      border: 2px solid #fff;
      color: #fff;
      justify-self: start;
      padding: 15px 40px;
      text-decoration: none; }
  .secao-curriculo h2 {
    color: #f7f7f7;
    font-size: 30px;
    font-weight: 700;
    line-height: 10px; }
  .secao-curriculo img {
    /*Chamando a keyframes pra fazer foto ficar flutuando pra cima e pra baixo*/
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 30%;
    max-width: 100%;
    position: relative; }

/* Animação para fazer tela descer devagar com efeito */
@keyframes inicializar {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
/* Animação para fazer a foto ficar flutuando pra cima e pra baixo*/
@keyframes flutuar {
  0% {
    top: 0; }
  100% {
    top: 30px; } }
.digitando::after {
  /*Chamando a keyframes pra fazer o pipe ficar piscando*/
  animation: pisca .6s infinite;
  content: '|';
  margin-left: 5px; }

/* Animação para fazer ficar piscando o pipe no fim do titulo*/
@keyframes pisca {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* SEÇÃO SOBRE*/
.sobre {
  padding: 140px 0; }
  .sobre .titulo-generico h1 {
    color: #1c3070;
    font-size: 3em;
    margin: 30px 0;
    text-align: center; }
  .sobre .sobre-conteudo {
    /*chama keyframe pra fazer o conteudo vir de lado*/
    animation: sobeSecao .9s ease-in-out forwards;
    color: #707070;
    padding: 50px; }
    .sobre .sobre-conteudo .sobre-texto h1 {
      color: #fff;
      font-size: 2.3rem;
      text-align: center; }
    .sobre .sobre-conteudo .sobre-texto h1::after {
      background-color: #1c3070;
      border-radius: 5px;
      content: '';
      display: block;
      height: 6px;
      margin: 20px 0;
      width: 60px; }
    .sobre .sobre-conteudo .sobre_info {
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr 1fr;
      margin-top: 30px; }
      .sobre .sobre-conteudo .sobre_info i {
        color: #1c3070;
        font-size: 1.5rem;
        display: inline-block;
        padding-right: 15px; }
      .sobre .sobre-conteudo .sobre_info p {
        font-size: .9rem; }
      .sobre .sobre-conteudo .sobre_info a {
        color: #707070;
        text-decoration: none; }

/*Keyframe pra fazer o conteudo vir de lado*/
@keyframes sobeSecao {
  from {
    transition: .5s;
    transform: translate3d(80px, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
/* EPECIALIDADES */
section.especialidades {
  box-shadow: 0 0 40px 10px #ffffff1d;
  padding: 180px 4%; }
  section.especialidades .flex {
    justify-content: space-around; }
  section.especialidades .especialidades-box {
    border-radius: 20px;
    color: #fff;
    margin-top: 45px;
    padding: 40px;
    transition: .2s;
    width: 20%;
    text-align: center; }
    section.especialidades .especialidades-box i {
      color: #1c3070;
      font-size: 70px; }
    section.especialidades .especialidades-box h3 {
      font-size: 26px;
      margin: 15px 0; }
  section.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78; }

/* RESUMO */
.my_resume {
  color: #fff;
  padding: 50px 0;
  margin-top: 7rem; }
  .my_resume h3 {
    color: #3e3d3d;
    text-align: center;
    font-size: 1.6em; }
  .my_resume .resumo_generico {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 30px; }
    .my_resume .resumo_generico h2 {
      background-color: #1c3070;
      border-radius: 3px;
      font-family: 'Poppins';
      font-size: 1.5rem;
      justify-self: start;
      padding: 20px;
      margin-bottom: 30px; }
    .my_resume .resumo_generico .education {
      margin-bottom: 30px;
      grid-column: 2;
      grid-row: 1; }

.experience_content ul,
.education_content ul {
  color: #1c3070;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; }

.resumo_generico .experience_content div,
.education_content div {
  /* Animação para vir de lado o conteudo */
  animation: ladoSecao .5s ease-in-out forwards;
  background-color: #222;
  display: none;
  padding: 40px;
  position: relative; }

@keyframes ladoSecao {
  from {
    transition: .5s;
    transform: translate3d(-60px, 0, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.resumo_generico .experience_content div.ativo,
.education_content div.ativo {
  display: block; }

/* MEUS CURSOS E DIPLOMAS*/
.resumo_generico .experience_content div::before,
.education_content div::before {
  border-bottom: 30px solid #222;
  border-right: 30px solid transparent;
  content: '';
  display: inline-block;
  left: 30px;
  position: absolute;
  top: -20px; }

.resumo_generico .experience_content div span,
.education_content div span {
  color: #1c3070;
  font-family: "Poppins";
  font-weight: bold; }

.resumo_generico .experience_content div h3,
.education_content div h3 {
  margin: 10px 0; }

.resumo_generico .experience_content div p,
.education_content div p {
  color: #707070;
  font-size: 1.1rem; }

.experience_content ul li.ativo,
.education_content ul li.ativo {
  color: #3e3d3d; }

/* MINHAS HABILIDADES */
.skills {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
  padding: 30px; }
  .skills .my_skill {
    display: grid;
    grid-column: 2/3; }
    .skills .my_skill h2 {
      background-color: #1c3070;
      border-radius: 5px;
      font-size: 1.5rem;
      justify-self: center;
      margin-bottom: 30px;
      padding: 10px 30px;
      text-transform: capitalize; }
    .skills .my_skill .skills-colunms {
      display: flex;
      gap: 8rem;
      margin-top: 5rem; }
    .skills .my_skill .skill_content {
      display: grid;
      font-size: 1.5rem;
      gap: 40px;
      grid-column: 1/2;
      grid-template-columns: 1fr 1fr;
      margin-top: 10px; }
      .skills .my_skill .skill_content h3 {
        font-size: 1.5rem; }
      .skills .my_skill .skill_content ul {
        display: flex;
        align-items: center; }
      .skills .my_skill .skill_content img:hover {
        transform: rotate(20deg); }

/*PORTIFOLIO*/
section.portifolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d; }
  section.portifolio .swiper {
    width: 100%;
    height: 650px; }
    section.portifolio .swiper .swiper-slide {
      box-shadow: 0px 0px 10px #ffffff78; }
    section.portifolio .swiper .swiper-button-prev,
    section.portifolio .swiper .swiper-button-next {
      background-color: #000;
      color: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding: 15px;
      box-shadow: 0px 0px 10px #ffffff78;
      border: 1px solid #000; }
    section.portifolio .swiper .swiper-pagination {
      background-color: #000;
      color: #fff; }
  section.portifolio .portifolio-interface h3 {
    color: #3e3d3d;
    font-size: 1.7em;
    margin-top: 15px;
    text-align: center;
    font-weight: bold; }
  section.portifolio .portifolio-interface .flex {
    margin-top: 60px;
    justify-content: center; }
    section.portifolio .portifolio-interface .flex .img-port {
      background-size: cover;
      border-radius: 40px;
      cursor: pointer;
      height: 460px;
      position: relative;
      transition: 8s;
      max-width: 20rem;
      min-width: 20rem; }
      section.portifolio .portifolio-interface .flex .img-port .overlay {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 40px;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 600;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: .5s;
        width: 100%; }
        section.portifolio .portifolio-interface .flex .img-port .overlay a {
          color: #fff;
          text-align: center;
          text-decoration: none;
          font-size: 1.5rem;
          z-index: 100;
          border: 1px solid #fff;
          padding: .7rem 1rem;
          border-radius: 5;
          transition: .5s; }
          section.portifolio .portifolio-interface .flex .img-port .overlay a i {
            font-size: .9rem;
            margin-top: .5rem; }
        section.portifolio .portifolio-interface .flex .img-port .overlay a:hover {
          box-shadow: 0 0 40px 10px #000;
          transform: scale(1.05); }
        section.portifolio .portifolio-interface .flex .img-port .overlay .menu-modal-container {
          display: none;
          text-align: center;
          color: #000;
          background-color: #fff;
          width: 90%;
          padding: 3rem 1rem;
          border: 2px solid #000;
          justify-content: center;
          align-items: center; }
          section.portifolio .portifolio-interface .flex .img-port .overlay .menu-modal-container .menu-modal .active {
            display: none; }
          section.portifolio .portifolio-interface .flex .img-port .overlay .menu-modal-container .menu-modal .modal-projeto {
            display: flex;
            flex-direction: column;
            gap: .6rem;
            align-items: center;
            margin-top: 1.6rem; }
            section.portifolio .portifolio-interface .flex .img-port .overlay .menu-modal-container .menu-modal .modal-projeto img {
              width: 10rem;
              height: 2.5rem; }
      section.portifolio .portifolio-interface .flex .img-port .overlay:hover {
        opacity: 30; }
    section.portifolio .portifolio-interface .flex .img-port:hover {
      background-position: 100% 100%;
      transform: scale(1.07); }

/* RODAPÉ */
footer {
  padding: 60px 4%; }
  footer .rodape {
    padding: 20px 0; }
    footer .rodape .flex {
      display: flex;
      justify-content: end; }
      footer .rodape .flex .rodape-social {
        display: flex;
        gap: 20px; }
        footer .rodape .flex .rodape-social a button {
          background-color: #1c3070;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          font-size: 1.5em;
          gap: 10px;
          padding: 20px;
          transition: 2s; }
  footer .borda {
    border-top: 2px solid #1c3070;
    display: flex;
    justify-content: space-between; }
    footer .borda p i {
      color: #1c3070;
      font-size: 22px; }
    footer .borda p span {
      color: #fff;
      margin-left: 10px; }
    footer .borda p a {
      color: #fff;
      margin-left: 10px;
      text-decoration: none; }

@media (max-width: 480px) {
  header .bg i {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2.5rem; }

  header .bg nav ul {
    display: none; }

  header .bg nav ul.ativo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    margin: 3rem 2rem 0 2rem;
    padding: 15px;
    /* chama a o keyframe criado, animação lista surgindo de cima pra baixo de forma mais lenta*/
    animation: animation .5s forwards;
    background-color: #000;
    width: 76% !important;
    border: 2px solid #fff;
    z-index: 10; }

  /*cria tipo uma função para fazer a animação descer de forma mais lenta no icone de hamburguer, junto a função em javascript*/
  @keyframes animation {
    from {
      transform: translate3d(0, -60px, 0); }
    to {
      transform: translate3d(0, 0, 0); } }
  .navegacao-primaria li {
    width: 100%;
    text-align: center; }

  .navegacao-primaria li:nth-last-child(1) {
    border: none; }

  .navegacao-primaria__item {
    font-size: 1.7em !important; }

  /* SEÇÃO DESCRIÇÃO INICIAL*/
  .secao-curriculo {
    display: flex;
    flex-direction: column; }

  .secao-curriculo div {
    text-align: center; }

  .secao-curriculo div a {
    margin: 0 auto; }

  .secao-curriculo div h2 {
    font-size: 2em;
    line-height: 30px; }

  .secao-curriculo div p {
    font-size: 1.3em; }

  .sobre_info {
    display: flex !important;
    flex-direction: column; }

  .titulo-generico {
    font-size: 1.5em; }

  .sobre_info p {
    font-size: 1.3em !important; }

  /* ESPECIALIDADES */
  .especialidades h2 {
    font-size: 3em; }

  .especialidades .flex {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .especialidades-box {
    width: 50% !important; }

  .titulo-generico h2 {
    font-size: 2.5em;
    margin-top: 5rem; }

  .titulo-generico h3 {
    padding: 0 .6rem; }

  .resumo_generico {
    display: flex !important;
    flex-direction: column; }

  .education {
    margin-top: 3rem; }

  .skills-colunms {
    flex-direction: column;
    gap: 0rem !important; }

  .portifolio-interface h2 {
    font-size: 3em; }

  .portifolio-interface h3 {
    font-size: 2.5em !important; }

  .portifolio-interface .flex {
    display: flex;
    flex-wrap: nowrap; }

  .borda {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; } }

/*# sourceMappingURL=styles.css.map */
